html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

/* main container */
.main-container{
    display: flex;
    flex-direction: row;
    background-color:  #F9FBFF;
}
main{
    flex: 4;
}

/* Aside styling */
menu{
    padding: 0;
}
aside{
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
aside .logo{
    width: 195px;
    height: 39px;
    margin-top: 36px;
    margin-left: 28px;
}
aside .logo span{
    width: 18px;
    height: 15px;
    margin-left: 4px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #838383;
}
aside ul{
    padding-left: 0px;
}
aside li {
    margin-left: 24px;
    margin-right: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #9197B3;
}
aside li span{
    margin-left: 14px;
}
aside li:hover{
    background: #5932EA;
    border-radius: 8px;
    color: #fff;
}
.drop-down{
    margin-left: auto;
}
aside footer .user-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 76px;
    margin-left: 28px;
}
.choosen-menu{
    background: #5932EA;
    border-radius: 8px;
    color: #fff;
}

aside footer img{
    width: 42px;
    height: 42px;
}
.info{
    margin-left: 12px;
}
.user-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #000000;
}
.user-position{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #757575;
}

/* main content */
main{
    margin-right: 0px;
    width: 100%;
}
.main-content{
    background-color:  #fff;
    margin-left: 71px;
    margin-right: 95px;
    margin-bottom: 30px;
    padding: 30px 40px 40px 38px;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
}
h1{
    margin-left: 71px;
    margin-top: 41px;
    margin-bottom: 51px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.search-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 7px;
    margin-top: 0px;
}
.table-container p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #16C098;
    margin-bottom: 40px;
}
#search{
    margin-top: 14px;
    height: 38px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    background: #F9FBFF;
    border-radius: 10px;
    border: none;
}
input#search{
    background-image: url(/src/search.svg);
    background-repeat: no-repeat;
    text-indent: 40px;
    background-position: left;
    background-position-x: 8px;
}
input#search:focus{
    background-image: none;
}
.search-info input::placeholder{
    color: #B5B7C0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
}
table{
    width: 100%;
}
/* Table styling */
th{
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 20px;
}
td{
    padding:20px 0;
    border-bottom: 1px solid #EEEEEE;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #292D32;
}
.active{
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    border-radius: 4px;
    align-items: center;
    padding: 4px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #008767;
    text-align: center;
}
.inactive{
    background: #FFC5C5;;
    border: 1px solid #DF0404;
    border-radius: 4px;
    align-items: center;
    padding: 4px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color:  #DF0404;
    text-align: center;
}
.table-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}
.shown{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
}
.pagination button{
    align-items: center;
    padding: 6px 9px;
    background-color: #F5F5F5;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #404B52;
    margin-left: 12px;
    font-family: 'Poppins', sans-serif;
}
.pagination button:hover{
    background-color:#9197B3;
    color: #fff;
}
#choosen-page{
    background-color: #5932EA;
    color: #fff;
}
#spread{
    background-color: #fff;
    border:none;
}
#spread:hover{
    background-color: #fff;
    color: #404B52;
}

.hamburger-menu{
    display: none;
    
}

@media screen and (max-width: 1200px){
    .main-container{
        flex-direction: column;
    }
    menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    menu ul li{
        margin: 0 7px;
    }
    aside footer{
        padding-bottom: 12px;
    }
    aside footer .user-info{
        margin-right: 24px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 1000px){
    menu{
        display: none;
    }
    aside footer{
        display: flex;
        justify-content: space-between;
    }
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu button{
        margin-left: 24px;
        margin-right: 12px;
        padding: 20px;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        border: 1px solid #fff;
        border-radius: 8px;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: #9197B3;
        background-color:#F9FBFF;
        font-family: 'Poppins', sans-serif;
    }
    .hamburger-menu button:hover{
        background: #5932EA;
        color: #fff;
    }
}
